{% if page.header.updated %}
  <section class="metadata narrow">
    <pre>
      Last update was in <b>{{ page.header.updated.last_modified }}</b>. This information refers to <b> {{ page.header.updated.app }}, version {{ page.header.updated.app_version }} </b>

      NOTE: Disroot's how-to documentation is a community driven procces and we try to keep it as updated as we can. Keep this in mind if features are missing or some information is outdated.
    </pre>
  </section>
{% endif %}
